.corpo-bg {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #fafaff;
    color: #000000;
}

.corpo-conteudo {
    min-width: 100vw;
    min-height: 100vh;
}

.toda-largura {
    min-width: 100vw;
    background-color: red;
}

.toda-altura {
    min-height: 100vh;
}


.login-card {
    border-left: 0.5em solid #074bb8;
    border-right: 0.5em solid #074bb8;
}

.tabela-minimo {
  min-height: 300px;
}
/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.vertical-nav {
    min-width: 15rem;
    width: 15rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.4s;
    border-right: 0.2em solid #074bb8;
    border-left: 0.2em solid #074bb8;
    border-top: 0.2em solid #074bb8;
    border-bottom: 0.2em solid #074bb8;
  }
  
  .page-content {
    width: calc(100% - 15rem);
    margin-left: 15rem;
    transition: all 0.4s;
  }
  
  /* for toggle behavior */
  
  #sidebar.active {
    margin-left: -15rem;
  }
  
  #content.active {
    width: 100%;
    margin: 0;
  }
  
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -15rem;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #content {
      width: 100%;
      margin: 0;
    }
    #content.active {
      margin-left: 15em;
      width: calc(100% - 15rem);
    }
  }
  
  
  .separator {
    margin: 3rem 0;
    border-bottom: 1px dashed #fff;
  }
  
  .text-uppercase {
    letter-spacing: 0.1em;
  }
  
  .text-gray {
    color: #003cff;
  }
  

  .list-group-horizontal .list-group-item {
    display: inline-block;
    width: 100vw;
    text-align:center
  }
